*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../images/Background.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
}

#logo {
    width: 250px;
    height: 100px;
    margin: 20px 25px 0px 30px;
    transition: .5s;
}

.form-box{
    width: 420px;
    height: 580px;
    position: relative;
    background-color: #ffffffe3;
    backdrop-filter: blur(33px);
	background-blend-mode: overlay;
    margin: auto;
    border-radius: 30px;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 3px #558ed8;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 40px;
    background: linear-gradient(to left, #8bb7f1,#316380);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top:180px;
    position: absolute;
    width: 320px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #293b52;
    outline: none;
    background: transparent;
}
span{
    font-size: 13px;
}
#signin-btn,#signup-btn{
    margin-top: 30px;
    margin-bottom: 10px;
}
p{
    text-align: center;
}
.submit-btn{
    width: 95%;
    height: 45px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 5px;
    background: linear-gradient(to left, #8bb7f1,#4182a8);
    border: 0;
    outline: none;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.submit-btn img{
    position: absolute;
    margin-top: -7px;
    margin-left: -50px;
    width: 9%;
    border-radius: 15px;
}
.submit-btn:hover{
    color: #035fd8;
    background: #ffffffd8;
    outline: 2px solid #035fd8;
}
.checkbox{
    position: relative;
    top: 2px;
}
.spans{
    color: #242424;
    font-size: 12px;
    margin-left: 5px;
}
#signin{
    left: 50px;
}
#signup{
    left: 450px;
}
#signup a{
    color: #004aad;
}