
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }
 body{
   background-image: url(../images/main_backgound.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
 }
 input{
  outline: none;
 }
 input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 /* nav */
 .nav{
    width: 18%;
 }
 
 
 .nav>img {
    width: 100%;
 }

 

 .dropdown-style {
  margin: auto;
	/* margin: 0 1rem 0 0; */
	background-color: #ffffff7d;
	/* margin: 2rem; */
	border-radius: 12px;
	padding: 1rem;
	position: relative;
	box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
	box-sizing: border-box;
	width: calc(100% - 4rem);
	color: rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(33px);
	background-blend-mode: overlay;
	display: flex;
	align-items: center;
  flex-direction: column;
  justify-content: space-between;

}
.dropdown-style button{
   padding: 5px 10px 5px 10px;
}


.main{

  /* display: grid; */
  /* grid-template-columns: repeat(2,1fr); */
  
  width: 80%;
  margin: auto;
  /* height: 300px; */
  /* border: 1px solid grey; */
}

.main h3{
  margin-top: 20px;
  font-weight: 400;
  font-size: 35px;
  /* margin-left: 20px; */

}
.left{
margin-bottom: 100px;
 
  /* border: 1px solid grey; */
  /* padding: 15px */
}

.name_surname{
  margin-top: 30px;
display: grid;

grid-template-columns: 50% 50%;
gap: 10px;
}

input::placeholder {
  font-size: 16px;
  color: grey;
}
label {
  font-size: 16px;
}
input {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 38px;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid grey;
}

input:hover {
  border: 1px solid rgb(36, 33, 33);
}
.city{

  display: grid;
  gap: 10px;
  grid-template-columns:repeat(2,1fr);
}

.email_number{
  gap: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.right{
  padding: 30px;
}

#form_submit:hover{
  text-decoration: none;

}


/* payment */
.payment_box{
  /* border: 2px solid red; */
  margin-top: 50px;
}

.payment_form{
  /* border: 5px solid rebeccapurple; */
  margin-top: 20px;
  /* background-color: white; */
  padding: 15px;
  border: 1px solid rgba(128, 128, 128, 0.539);
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 10px;
}
input[type="submit"] {
 height: 50px;
  position: relative;
  top: 35px;
  margin: auto;
  width: 100%;
  background: linear-gradient(
    180deg,
    #fc5d37 0%,
    #ed5132 49%,
    #e64525 100%
  );
  font-weight: 800;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addrex_form input{
  display: block;
}

/*  */
#plan{
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 12px;
}